@{
    ViewData["Title"] = "後台商品列表";
}
<link rel="stylesheet" href="/css/BackProductList.css" type="text/css">

<!--商品列表標題-->
<div class="d-flex justify-content-between my-4">
    <div class="" style="margin-left: 3rem;">
        <span class="product-list-title fw-bold fs-3" style="color: #3c5587;">
            所有商品
        </span>
    </div>
    <div class="add-product" style="margin-right: 3rem;">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("NewProduct", "Backstage")'">
            <i class="bi bi-plus-circle-fill"></i> 新增商品
        </button>
    </div>
</div>
<!--商品列表本體-->
<div class="product-list-body" style="margin-right: 3rem; margin-left: 3rem;" id="GetProducts">
    <!-- 商品搜尋列 -->
    <div class="product-list-search-bar d-flex gap-3">
        <!-- 選擇上架狀態 -->
        <div class="btn-group">
            <select  class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <option selected disabled>選擇上架狀態</option>
                <option value="">未審核</option>
                <option value="">已上架</option>
                <option value="">已下架</option>
            </select>
        </div>
        <!-- 商品分類 -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                商品分類
            </button>
            @*<ul class="dropdown-menu"  v-model="TriptypeValue" v-on:change="regionClick">
                    <li><a class="dropdown-item" href="#">露營</a></li>
                    <li><a class="dropdown-item" href="#">水上活動</a></li>
                    <li><a class="dropdown-item" href="#">人文之旅</a></li>
                    <li><a class="dropdown-item" href="#">地方特色</a></li>
                    <li><a class="dropdown-item" href="#">溫泉之旅</a></li>
                    <li><a class="dropdown-item" href="#">戶外休閒</a></li>
                    <li><a class="dropdown-item" href="#">景點門票</a></li>
                </ul>*@
            <select v-model="TriptypeValue" v-on:change="regionClick">
                <option   value="0">露營</option>
                <option value="1">水上活動</option>
                <option value="2">人文之旅</option>
                <option value="3">地方特色</option>
                <option value="4">溫泉之旅</option>
                <option value="5">戶外休閒</option>
                <option value="6">景點門票</option>
            </select>
        </div>
        <!-- 地區分類 -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                地區分類
            </button>
            <ul class="dropdown-menu" v-model="regionValue" v-on:change="regionClick">
                <li><a class="dropdown-item" href="#">北北基</a></li>
                <li><a class="dropdown-item" href="#">桃竹苗</a></li>
                <li><a class="dropdown-item" href="#">中彰投</a></li>
                <li><a class="dropdown-item" href="#">雲嘉南</a></li>
                <li><a class="dropdown-item" href="#">高屏</a></li>
                <li><a class="dropdown-item" href="#">宜花東</a></li>
                <li><a class="dropdown-item" href="#">離島地區</a></li>
            </ul>
        </div>
        <!-- 請輸入商品名稱 -->
        <div class="mb-3">
            <input type="text" class="form-control" id="productInput" placeholder="請輸入商品名稱">
        </div>
        <!-- 搜尋btn -->
        <div class="float-end">
            <button type="button" class="btn btn-primary" type="submit">
                搜尋
            </button>
        </div>
    </div>
    <!-- 商品列表 -->
    <div class="product-list-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        全選
                    </th>
                    <th scope="col">商品編號</th>
                    <th scope="col">商品圖</th>
                    <th scope="col">品名</th>
                    <th scope="col">單價</th>
                    <th scope="col">上架狀態</th>
                    <th scope="col">
                        商品編輯&刪除
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in productList">
                    <th scope="row">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </th>
                    <td>{{item.id}}</td>
                    <td>
                        <img src="https://fakeimg.pl/50/">
                    </td>
                    <td>{{item.title}}</td>
                    <td>{{item.originalPrice }}</td>
                    <td>已上架</td>
                    <td>
                        <div class="d-flex gap-3">
                            <!--編輯-->
                            <a class="btn btn-success" v-bind:href=" '/Backstage/EditProduct/'+ item.id ">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <!--眼睛-->
                            <a href="" class="btn btn-warning">
                                <i class="bi bi-eye-slash"></i>
                            </a>
                            <!--垃圾桶-->
                            <div href="" class="btn btn-danger" v-on:click.prevent="del(item.id)">
                                <i class="bi bi-trash3"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--<tr>
                    <th scope="row">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </th>
                    <td>idxxx</td>
                    <td>
                        <img src="https://fakeimg.pl/50/">
                    </td>
                    <td>綠島5天4夜</td>
                    <td>99999</td>
                    <td>已上架</td>
                    <td>
                        <div class="d-flex gap-3">-->
                <!--編輯-->
                <!--<a class="btn btn-success" href="">
                    <i class="bi bi-pencil-square"></i>
                </a>-->
                <!--眼睛-->
                <!--<a href="" class="btn btn-warning">
                    <i class="bi bi-eye-slash"></i>
                </a>-->
                <!--垃圾桶-->
                <!--<a href="" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </th>
                    <td>idxxx</td>
                    <td>
                        <img src="https://fakeimg.pl/50/">
                    </td>
                    <td>綠島5天4夜</td>
                    <td>99999</td>
                    <td>已上架</td>
                    <td>
                        <div class="d-flex gap-3">-->
                <!--編輯-->
                <!--<a class="btn btn-success" href="">
                    <i class="bi bi-pencil-square"></i>
                </a>-->
                <!--眼睛-->
                <!--<a href="" class="btn btn-warning">
                    <i class="bi bi-eye-slash"></i>
                </a>-->
                <!--垃圾桶-->
                <!--<a href="" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>
<script>
    var keyword = window.location.search.replace("?", "");
    var keywordDecode = decodeURI(window.location.search.replace("?keyword=", ""));
    var backstageProductList = new Vue({
        el: '#GetProducts',

        data: {
            productList: [],
            error: "",
            regionValue: "", // 開[]為多選   ""為單選
            TraveldaysValue: "",
            TriptypeValue: "",
            productTotal: '',
            orderbyClick: '',
            customerRating: '',
            goTraveltime: "",
            pageLeftBtn: true,

            countOfPage: 10,// 幾個一頁
            currPage: 1,//初始頁
            sectionObject: {
                "North": "北北基",
                "MiddleNorth": "桃竹苗",
                "Middle": "中彰投",
                "MiddleSouth": "雲嘉南",
                "South": "高屏",
                "East": "宜花東",
                "OutsideIsland": "離島地區"
            },
            chRegion: "",


        },
        computed: {
            pageStart: function () {
                return (this.currPage - 1) * this.countOfPage;
            },
            totalPage: function () {
                return Math.ceil(this.productList.length / this.countOfPage);
            },

        },

        mounted: function () {
            var self = this;

            axios.get("/api/products?" + keyword).then(function (res) {
                for (let i of res.data) {
                    i.region = self.sectionObject[i.region];
                    //    i.goTouristTime = "" +i.goTouristTime;
                }
                self.productList = res.data;
                self.productTotal = res.data.length;
                //    self.chRegion = app1.sectionObject[res.data.region];
            }).catch(function (error) {
                self.error = error.data;
                self.productList = "";
                self.productTotal = "0";
            })
        },

        methods: {
            regionClick: function () {
                var self = this;
                var regionValue = self.regionValue;
                var Traveldays = self.TraveldaysValue;
                var Triptype = self.TriptypeValue
                var orderbyClick = self.orderbyClick;
                var customerRating = self.customerRating;
                var goTraveltime = self.goTraveltime;
                if (goTraveltime != "") { goTraveltime = decodeURI(goTraveltime.replace("T", "+").concat(":00.0000000")); }

                axios.get("/api/products?Region=" + regionValue + "&Traveldays=" + Traveldays + "&Triptype=" + Triptype + "&Rating=lessThan" + customerRating + orderbyClick + "&GoTouristTime=" + decodeURI(goTraveltime) + "&" + keyword).then(function (res) {
                    for (let i of res.data) {
                        i.region = self.sectionObject[i.region];

                    };
                    console.log(customerRating);
                    self.productList = res.data;
                    self.error = "";
                    self.currPage = "1";
                    self.productTotal = res.data.length;

                }).catch(function (error) {
                    self.error = error.data;
                    self.productList = "";
                    self.productTotal = "0";



                })

                // }
            },
            setPage: function (idx) {//設定頁面
                if (idx <= 0 || idx > this.totalPage) {
                    return;
                }
                this.currPage = idx;
            },
            del: function (id) {

                console.log(id);

                axios.delete("/api/products/" + id).then(alert(id));

            },

        },
        filters: {
            ellipsis(value) {
                if (!value) return '';
                if (value.length > 50) {
                    return value.slice(0, 50) + '...'//第幾個字加...
                }
                return value
            }
        },


    });

</script>